@media (max-width:1024px) {
    #icon-img1{
        padding: 1;
    }
    #card-name{
        font-size: 1rem;
    }
    #card-name1{
        font-size: 1.6rem;
    }
    #card-pera{
        font-size: 0.6rem;
    }
    #card-pera1{
        font-size: 0.7rem;
    }
}
@media (max-width:768px) {
    #icon-img1{
        padding: 0;
    }
    #card-name{
        font-size: 0.8rem;
    }
    #card-name1{
        font-size: 1.2rem;
    }
    #card-pera{
        font-size: 0.5rem;
    }
    #card-pera1{
        font-size: 0.7rem;
    }
}
@media (max-width:650) {
    #main-card-main-div{
        position: relative !important;
    }
    .leftcard{
        position: absolute !important;
        right: 200px;
    }
    .middlecard{
        position: absolute;
    }
    .rightcard{
        position: absolute !important;
    }
}