@media (max-width: 992px) {
    h1{
        font-size: 1.2rem;
    }
    p{
        font-size: 0.7rem;
    }
    #card-div{
        height: 420px;
    }
    #main-div{

    }
}
@media (max-width: 620px) {
    #change-div{
        display: none;
    }
    #vible{
        display: inline !important;
    }
    #main-vible-div{
        display: flex ;
        justify-content: center;
        align-items: center;
    }
    img{
        
    }
    h1{
        
    }
    p{
        
    }
    #card-div{
        
    }
    #main-div{ 

    }
}