#home-img{
    background-image: url("asset 79.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 150vh;
    right: 50px;
}
#home-name{
    left: 0px;
}
#box{
    width: 82vw;
}

@media (max-width: 1024px) {
    #home-img{
        background-size: 150vh;
        right: 60px;
        top: 20px;
    }
    #home-name{
        margin-top: 0px;
        font-size:xx-large;
        padding-left: 0;
        font-size: 3.5rem;
        padding-right: 300px;
    }
    #home-name-div{
        margin-top: 180px;
        margin-left: 80px;
        margin-right: 100px;
    }
    #btn-div{
        top:580px;
        margin-left: 0px;
        left: 80px;
    }
    #box{
        width: 86vw;
    }
}
@media (max-width: 992px) {
    #home-img{
        background-size: 900px;
        right: 60px;
        top: 60px;
    }
    #home-name{
        margin-top: 0px !important;
        padding-left: 20px;
        font-size: 2.5rem;
        padding-right: 200px;
    }
    #main-main-home-main-div{
        display: inline !important;
    }
    #top-main-main-top-div{
        margin-top: 0px !important;
    }
    #home-name-div{
        margin-top: 120px;
        margin-left: 80px;
        margin-right: 0px;
    }
    #btn-div{
        top:600px;
        margin-left: 0px;
        left: 80px;
    }
    #box{
        width: 78vw;
    }
}
@media (max-width: 768px) {
    #home-img{
        background-size: 700px;
        right: 60px;
        top: 60px;
    }
    #home-name{
        margin-top: 0px !important;
        padding-left: 20px;
        font-size: 2.5rem;
        padding-right: 150px;
    }
    #main-main-home-main-div{
        display: inline !important;
    }
    #top-main-main-top-div{
        margin-top: 0px !important;
    }
    #home-name-div{
        margin-top: 120px;
        margin-left: 80px;
        margin-right: 0px;
    }
    #btn-div{
        top:100px;
        margin-left: 0px;
        left: 80px;
    }
    #box{
        max-width: 630px;
        margin-right: 20px;
    }
}
@media (max-width: 768px) {
    #home-img{
        background-size: 100vh;
        right: 60px;
        top: 60px;
    }
    #home-name{
        margin-top: 0px !important;
        padding-left: 20px;
        font-size: 2rem;
        padding-right: 200px;
    }
    #main-main-home-main-div{
        display: inline !important;
    }
    #top-main-main-top-div{
        margin-top: 0px !important;
    }
    #home-name-div{
        margin-top: 120px;
        margin-left: 80px;
        margin-right: 0px;
    }
    #btn-div{
        top:530px;
        margin-left: 0px;
        left: 80px;
    }
    #box{
        max-width: 630px;
        margin-right: 20px;
    }
    .hero-btn{
        font-size: 1.2rem;
        padding: 10px 12px;
    }
}
@media (max-width: 630px) {
    #home-img{
        background-size: 90vh;
        right: 25px;
        top: 0px;
    }
    #home-name{
        margin-top: 0px !important;
        padding-left: 10px;
        font-size: 1.7rem;
        padding-right: 70px;
    }
    #main-main-home-main-div{
        display: inline !important;
    }
    #top-main-main-top-div{
        margin-top: 0px !important;
    }
    #home-name-div{
        margin-top: 120px;
        margin-left: 80px;
        margin-right: 0px;
    }
    #btn-div{
        top:480px;
        margin-left: 0px;
        left: 60px;
    }
    #box{
        max-width: 630px;
        margin-right: 20px;
        margin-top: 43px;
    }
    .hero-btn{
        font-size: 0.5rem;
        font-style: normal;
        font-weight: normal;
        padding: 10px 12px;
    }
}

@media (max-width: 470px) {
    #home-img{
        background-size: 70vh;
        height: 600px;
        right: 25px;
        top: 0px;
    }
    #home-name{
        margin-top: 0px !important;
        padding-left: 10px;
        font-size: 1.3rem;
        padding-right: 60px;
    }
    #main-main-home-main-div{
        display: inline !important;
    }
    #top-main-main-top-div{
        margin-top: 0px !important;
    }
    #home-name-div{
        margin-top: 120px;
        margin-left: 80px;
        margin-right: 0px;
    }
    #btn-div{
        top:350px;
        margin-left: 0px;
        left: 50px;
    }
    #box{
        max-width: 630px;
        /* margin-right: 20px; */
        margin-top: 43px;
        height: 100px;
    }
    .hero-name{
        font-size: 0.7rem;
    }
    .hero-btn{
        font-size: 0.5rem;
        font-style: normal;
        font-weight: normal;
        padding: 10px 12px;
    }
}
@media (max-width: 375px) {
    #home-img{
        background-size: 60vh;
        height: 600px;
        right: 25px;
        top: 0px;
    }
    #home-name{
        margin-top: 0px !important;
        padding-left: 10px;
        font-size: 1.1rem;
        padding-right: 40px;
    }
    #main-main-home-main-div{
        display: inline !important;
    }
    #top-main-main-top-div{
        margin-top: 0px !important;
    }
    #home-name-div{
        margin-top: 120px;
        margin-left: 80px;
        margin-right: 0px;
    }
    #btn-div{
        top:350px;
        margin-left: 0px;
        left: 40px;
    }
    #box{
        max-width: 630px;
        /* margin-right: 20px; */
        margin-top: 43px;
        height: 100px;
    }
    .hero-name{
        font-size: 0.7rem;
    }
    .hero-btn{
        font-size: 0.5rem;
        font-style: normal;
        font-weight: normal;
        padding: 10px 12px;
    }
}