.text-bar{
    visibility: inherit;
}

#main-nav-bar{
    width: 100%;
}
#text-bar:hover{
    color: rgb(255, 188, 62);
    border-bottom: 1px solid black;
}
#text-bar {
    position: relative;
    padding-bottom: 5px;
}
  #text-bar::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0%;
    height: 2px;
    background-color: black;
    transition: all 0.5s ease-in-out;
    transform: translateX(-50%);
  }
  
  #text-bar:hover::after {
    width: 100%;
    background-color: rgb(255, 188, 62); /* Change to desired hover color */
  }
  
.responsive_nav{
    font-size: smaller;
    display: inline !important;
    position: fixed;
    width: 100%; 
    height: 100vh;
    top: 0;
    background-color: white;
    z-index: 100;
    color: white;
}
.toggle-nev-bar{
    display: none;
    background-color: rgb(0, 23, 56);   
}   
.toggle-nav-aboutin{
    display: inline !important;
    position: relative;
    left: 50%;
    background-color:rgb(255, 255, 255) !important;
}

@media (max-width: 1024px) {
    #main-nav-bar{
        min-width: 1024px;
    }
    nav{
        padding-left: 0;
        padding-right: 0;
        padding: 0;
        margin: 0;
    }
    #nav-bar{
        display: none;
    }
    #text-bar{
        display: none;
    }
    #icon-bar{
        display: inline !important;
    }
}

@media (max-width: 992px) {
    #icon-bar{
        display: inline !important;
        /* margin-left: 800px; */
    }
}
@media (max-width: 768px) {
    #main-nav-bar{
        max-width: 768px;
    }
    nav{
        padding-left: 0;
        padding-right: 0;
        padding: 0;
        margin: 0;
    }
    #nav-bar{
        display: none;
    }
    #text-bar{
        display: none;
    }
    #icon-bar{
        margin-right: 50px;
    }
    .nav-bar-life{
        margin-right: 350vh;
    }
}
/* @media (max-width: 672px) {
    #main-nav-bar{
        max-width: 768px;
    }
    nav{
        padding-left: 0;
        padding-right: 0;
        padding: 0;
        margin: 0;
    }
    #nav-bar{
        display: none;
    }
    #text-bar{
        display: none;
    }
    .nav-bar-icon-div{
        margin-right: 100px;
    }
} */
/* @media (max-width: 700px) {
    #main-nav-bar{
        max-width: 375px;
    }
    nav{
        padding-left: 0;
        padding-right: 0;
        padding: 0;
        margin: 0;
    }
    #text-bar{
        display: none;
    }
    .nav-bar-life{
        margin-right: 350vh;
    }
} */