.text-bar{
    visibility: inherit;
}
@media (max-width: 1024px) {
    #main-nav-bar{
        min-width: 1024px;
    }
    nav{
        padding-left: 0;
        padding-right: 0;
        padding: 0;
        margin: 0;
    }
    #nav-bar{
        /* visibility:hidden; */
        display: none;
    }
    #text-bar{
        display: none;
    }
    #icon-bar{
        display: inline !important;
        margin-left: 700px;
    }
}
@media (max-width: 992px) {
    #nav-bar{
        /* visibility:hidden; */
        display: none;
    }
    #icon-bar{
        /* visibility:visible !important; */
        /* display: inline !important; */
        margin-left: 800px;
    }
}
@media (max-width: 768px) {
    #main-nav-bar{
        max-width: 768px;
    }
    nav{
        padding-left: 0;
        padding-right: 0;
        padding: 0;
        margin: 0;
    }
    #nav-bar{
        /* visibility:hidden; */
        display: none;
    }
    #text-bar{
        display: none;
    }
    #icon-bar{
        /* visibility:visible !important; */
        margin-left: 700px;
    }
}
@media (max-width: 375px) {
    #main-nav-bar{
        max-width: 375px;
    }
    #nav-bar{
        visibility:hidden;
    }
    nav{
        padding-left: 0;
        padding-right: 0;
        padding: 0;
        margin: 0;
    }
    #text-bar{
        display: none;
    }
    #icon-bar{
        visibility:visible !important;
    }
}